body{
    background-image: linear-gradient(to left, rgb(182, 182, 249), rgba(0, 109, 173, 0.589));

}


#main{
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px
}


.AtosLogo, .AllianzLogo{
    float: right;
    width: 10%;
    margin:0;
    right: 0;
    bottom:0;
}

.AllianzLogo{
    position: absolute;
    right:0;
    top: 25px;
}


#troubleshooting{
    top: 0;
    width: 25%;
    float:left;

}

#control{
    width: 15%;
    float:left;
    
}

#left-half, #control, #troubleshooting{
    background-color: white;
    box-shadow: 0px 0px 7px black;
    padding:10px;
    margin-left: 70px;
    margin-bottom: 10px;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    #troubleshooting,
    #left-half,
    #control {float: none;}
  }


textarea, input[type=text], select{
    resize: vertical;
    box-sizing:border-box;
    border-radius: 4px;
    border: 1px solid rgb(69, 67, 67);
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgba(0, 109, 173, 0.402);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-delay: 25ms;
    transition-duration: 100ms;
  }




  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit], textarea {
      width: 100%;
      margin-top: 0;
    }
  }

  .dot{
      float:left;
      margin-top: 20px;
  }

  #clean{
      margin-top: 25px;
      width: 100%;
      
  }

  .dotlabel{
      float:left;
      width: 50%;
  }

  textarea{
      width: 100%;
      height:25%;
      font-size: 15px;
  }

  h3{
      text-align: center;
  }

  input[type=text]{
      height: 25px;
      font-size: 15px;
  }

  #left-half{
    width: 30%;
    float:left;
}

.col-75{
    float:right;
}

.col-25{
    float:left;
    margin: -5px;
    margin-left: 20px;
}


input[type=submit]:hover{
    background-color:rgb(103, 103, 252);
}

input[type=radio]{
    border:0px;
    height: 2em;
    width: 7%;
}

ul {
    float:left;
    list-style-type: none;
    padding-left: 1px;
    padding-bottom: 300px;
    margin: 0px;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(to left, rgba(176, 200, 206, 0.443), rgba(0, 109, 173, 0.589));
    height: 100%;
    margin-left:-10px;
    margin-top:-10px;
    padding-left: -20p
}

li {
    float: left;
    border-right:1px solid rgba(153, 203, 216, 0.735);
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    
}

li a:hover{
    background-color: rgba(123, 201, 222, 0.479);
}

li:last-child {
    border-right: none;
  }

.overlay{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%; 
    margin-top: 30px; 
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.tutorial{
    height: 20%;
    transition-delay: 50ms;
    transition-duration: 500ms;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8{
    height: 20%;
    padding:30px;
    width: 90%;
}

.interrogation{
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    margin:2px;
    float:right;
    width: 2%;
    height: 2%;
}

.interrogation:hover{
    cursor:pointer;
}

#verifyy{
    color:rgb(13, 169, 117);
    text-align: center;
}

input[type = text]:hover{
    background-color:rgba(69, 174, 174, 0.425)
}
label:hover{
    cursor:pointer;
    color:rgba(69, 174, 174, 0.425)
}

